body {
	background:url(images/pattern-background-desktop.svg);
	background-repeat:no-repeat;
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	height:100vh;
}

.full {
	background:#FFFFFF;
	width:300px;
	height:480px;
	border-radius:10px;
	display:flex;
	flex-direction:column;
	margin-bottom:20px;
	border:1px solid royalblue;
}
.full_header {
	background:url(images/illustration-hero.svg);
	background-size:contain;
	background-repeat:no-repeat;
	border-radius:10px 10px 0px 0px;
	width:300px;
	height:170px;
}
.txt_list {
	width:100%;
	height:200px;
}
.order_txt {
	width:100%;
	height:30px;
	font-size:20px;
	font-family:Times new roman;
	font-weight:400px;
	color:#20263E;
	display:flex;
	justify-content:center;
}
.tiny_txt {
	width:73%;
	height:70px;
	color:#BCC0CC;
	display:flex;
	align-items:center;
	margin:auto;
	text-align:center;
	font-size:14px;
}
.payment {
	background:#F8F9FE;
	width:222px;
	height:61px;
	margin:auto;
	display:flex;
	border-radius:6px;
	margin-top:10px;
	margin-bottom:10px;
}
.payment_logo {
	width:55px;
	height:61px;
	display:flex;
	justify-content:center;
	align-items:center;
}
.payment_logo img {
	width:35px;
	height:35px;
}
.text_payment_centralizer {
	width:70px;
	height:61px;
	display:flex;
	flex-direction:column;
	justify-content:center;
}
.text_payment1 {
	font-size:13px;
	height:20px;
}
.text_payment2 {
	font-size:13px;
	height:20px;
	color:#979BA7;
}
.payment_link {
	width:100px;
	height:61px;
	display:flex;
	justify-content:center;
	align-items:center;
}
.payment_link a {
	font-size:13px;
}
.proceed {
	width:220px;
	height:80px;
	font-size:12px;
	color:#787E8E;
	text-align:center;
	margin:auto;
	margin-top:23px;
	display:flex;
	flex-direction:column;
	justify-content:space-between;
}
.proceed button {
	background:#382AE1;
	width:100%;
	height:35px;
	color:white;
	border:none;
	cursor:pointer;
	border-radius:5px;
	font-size:12px;
}